.container {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font-weight: 400;
      font-size: clamp(20px, 4vw, 40px); // адаптивный размер
      line-height: 1.2;
      color: black;
    }
  }
}

/* Основной контейнер сетки */
.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(200px, auto);

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }
}
